# Maven
target/
dependency-reduced-pom.xml
release.properties

# Maven Wrapper (remova se quiser manter o wrapper versionado)
.mvn/
mvnw
mvnw.cmd

# IDEs
.idea/
*.iml
*.iws
*.ipr

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.class
*.tmp
*.bak
*.swp
*.swo

# Testes
test-output/
